In [79]:
import pandas as pd
import numpy as np

In [80]:
df=pd.read_csv('data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

# 1-Answer

In [81]:
df.shape

(23678, 21)

# 2- Answer:

In [82]:
df.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# 3- Answer:

In [83]:
df[df.isnull().all(axis=1)].index[0]

31

# 4- Answer:

In [84]:
#df.isnull().sum()*100/len(df)
df[df.isnull().all(axis=1)].index[0]*100/len(df)

0.1309232198665428

In [85]:
df.dropna(axis=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3.0,h,1876000.0,S,Nelson,07-05-2016,2.5,3067.0,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2.0,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19845,Whittlesea,30 Sherwin St,3.0,h,601000.0,S,Ray,29-07-2017,35.5,3757.0,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
19846,Williamstown,75 Cecil St,3.0,h,1050000.0,VB,Williams,29-07-2017,6.8,3016.0,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
19847,Williamstown,2/29 Dover Rd,1.0,u,385000.0,SP,Williams,29-07-2017,6.8,3016.0,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
19849,Windsor,201/152 Peel St,2.0,u,560000.0,PI,hockingstuart,29-07-2017,4.6,3181.0,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
19852,Yarraville,54 Pentland Pde,6.0,h,2450000.0,VB,Village,29-07-2017,6.3,3013.0,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

# 5- Answer:

In [86]:
df.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

# 6- Answer:

In [87]:
df.isnull().sum()*100/len(df)

Suburb            0.553256
Address           0.553256
Rooms             0.553256
Type              0.553256
Price            22.307627
Method            0.553256
SellerG           0.553256
Date              0.553256
Distance          0.557480
Postcode          0.557480
Bedroom2         19.477996
Bathroom         19.490666
Car              20.090379
Landsize         26.471830
BuildingArea     57.690683
YearBuilt        51.262776
CouncilArea      33.879551
Lattitude        18.730467
Longtitude       18.730467
Regionname        0.557480
Propertycount     0.557480
dtype: float64

# 7- Answer:

In [88]:
df[df.isnull().any(axis=1)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra,-37.79650,144.99650,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# 8- Answer:

In [89]:
df.isnull().values.any(axis=0)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

# 9- Answer:

In [90]:
df_null=df.isnull().mean().round(4)*100
df_null

Suburb            0.55
Address           0.55
Rooms             0.55
Type              0.55
Price            22.31
Method            0.55
SellerG           0.55
Date              0.55
Distance          0.56
Postcode          0.56
Bedroom2         19.48
Bathroom         19.49
Car              20.09
Landsize         26.47
BuildingArea     57.69
YearBuilt        51.26
CouncilArea      33.88
Lattitude        18.73
Longtitude       18.73
Regionname        0.56
Propertycount     0.56
dtype: float64

In [91]:
df.drop(['BuildingArea','YearBuilt','CouncilArea'],axis=1,inplace=True)

# 10- Answer:

In [92]:
df_row=df.isnull().sum(axis=1)>5
df_row.dropna(axis=0,inplace=True)
print(round(100*(1-df.count()/len(df)),2))

Suburb            0.55
Address           0.55
Rooms             0.55
Type              0.55
Price            22.31
Method            0.55
SellerG           0.55
Date              0.55
Distance          0.56
Postcode          0.56
Bedroom2         19.48
Bathroom         19.49
Car              20.09
Landsize         26.47
Lattitude        18.73
Longtitude       18.73
Regionname        0.56
Propertycount     0.56
dtype: float64

# 11- Answer:

In [93]:
df.isnull().mean().round(4)*100

Suburb            0.55
Address           0.55
Rooms             0.55
Type              0.55
Price            22.31
Method            0.55
SellerG           0.55
Date              0.55
Distance          0.56
Postcode          0.56
Bedroom2         19.48
Bathroom         19.49
Car              20.09
Landsize         26.47
Lattitude        18.73
Longtitude       18.73
Regionname        0.56
Propertycount     0.56
dtype: float64

# 12- Answer:

When we select the 'Price' column as target variable then firstly we deal with the mesing values. If
we want to not drop the meassing values, then we go to the mean/median.

In [94]:
df['Price'].replace(np.NaN, df['Price'].mean()).head()

0    1.056697e+06
1    1.480000e+06
2    1.035000e+06
3    1.056697e+06
4    1.465000e+06
Name: Price, dtype: float64

# 13- Answer:

In [95]:
print(df.shape)
df.isnull().sum()

(23678, 18)

Suburb            131
Address           131
Rooms             131
Type              131
Price            5282
Method            131
SellerG           131
Date              131
Distance          132
Postcode          132
Bedroom2         4612
Bathroom         4615
Car              4757
Landsize         6268
Lattitude        4435
Longtitude       4435
Regionname        132
Propertycount     132
dtype: int64

In [96]:
df.dropna(axis=0,inplace=True)

In [97]:
print(df.shape)
df.isnull().sum()

(13518, 18)

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

# 14- Answer:

Three columns are removed from this data set.14% of columns are remover from this data set.

# 15- Answer:

42% rows are removed to doing this above the whole process. The amount of data that are removed from 
this data set is not good because when we want to obtain a good result from any data set maximum of 
10-15% of missing data can remove. So this is not justified for this data set.